<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>

<body>
    <ul class="nav">
        <li class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    
                        <img src="/images/users/user-1.jpg" alt="" class="profile-photo-md">
                        <a href="" style="display: inline;">you and me you and me</a>
                   
                        <button class="btn btn-primary btn-xs">accept</button>
                        <button class="btn btn-primary btn-xs">delete</button>
                   
                </li>
                <li>
                    <img src="/images/users/user-1.jpg" alt="" class="profile-photo-md">
                    <a href="" style="display: inline;">me and you</a>
                    <button class="btn btn-primary">accept</button>
                    <button class="btn btn-primary">delete</button>
                </li>
            </ul>
        </li>
    </ul>
</body>

</html>